* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --color-ph-bold: #323238;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

body,
button {
  color: var(--color-ph-bold);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19.2rem;
}
/*  */
.timer-and-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
.time {
  font-size: 12.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
#controls button {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  font-size: 4.8rem;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: white;
  outline: none;
}
#controls button i {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.running .play-circle,
html:not(.running) .pause-circle,
.running .clock {
  display: none;
}
/*  */
.background-Sounds {
  display: flex;
  gap: 3.2rem;
  width: max-content;
}
.background-Sounds button {
  width: 9rem;
  height: 10.4rem;
  border-radius: 2.4rem;
  border: 0;
  cursor: pointer;
  background: #e1e1e6;
}
.background-Sounds button.playing {
  background: #02799d;
}
.background-Sounds button:hover {
  background: #02799d;
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
  }

  .background-Sounds button {
    width: 13.8rem;
    height: 15.2rem;
  }
  .background-Sounds {
    flex-wrap: wrap;
    width: min(100%, 30.8rem);
  }
}
